---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.iframe-container {
  overflow: hidden;
  width: 100%;
  height: 90vh;
  position: relative;
  z-index: 1;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: relative;
   top: 0;
   width: 100%;
}

#boxes {
  content: "";
  display: table;
  clear: both;
}
div {
  float: left;
  height: 500px;
  width: 23%;
  padding: 10px;
  overflow: auto;
  height:1%
}
#column1 {
  background-color: #e0e0e0;
}
#column2 {
  background-color: #e0e0e0;
  width: 43%;
}
#column3 {
  background-color: #e0e0e0;
}
h2 {
  color: #000000;
  text-align: center;
}

#rcorners1 {
  border-radius: 25px;
  background: #ededed;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#rcorners2 {
  border-radius: 25px;
  background: #ededed;
  border: 2px solid #000000;
  width: 43%;
  height: 150px;
  padding: 20px;
  overflow: auto;
  height:1%
}
