---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 62.5%; /* 8:5 Aspect Ratio */
  width: 100%;
  height: 100%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: relative;
   top: 0;
   width: 100%;
}
